{% extends "base.html" %}
{% load static %}

{% block content %} 
<body>
    <div class="background">

        <section class="explore" id="explore">
            <h1 class="heading"> Net Scrapper</h1>
            <div class="super-box">
                <div class="box-container">
        
                    <div class="box">
                        <img src="{% static 'images/f-icon1.png' %}" alt="nice UI">
                        <h3>amazing UI design</h3>
                    </div>
        
                    <div class="box">
                        <img src="{% static 'images/filter.png' %}" alt="filter">
                        <h3>Filter your Searches</h3>
                    </div>
        
                    <div class="box">
                        <img src="{% static 'images/flash.png' %}" alt="speed">
                        <h3>fast and secure</h3>
                    </div>
        
                </div>
                <div class="container" id="search-area">
                    <center>
                        <div class="search_box">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <input id='input-box' type="text" name="search" placeholder="  search...">
                                <div class="btn" id='input-btn'>
                                    <input type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                    </center>
                </div>       
            </div>
        </div>
    </section>    
    
    <!-- results display section -->
    <h1 class="results-header"> {{ search }}</h1>
    <section class="search-results">
        <div class="list-container">
            {% for item in final_item_list %}
                <div class="card">
                    <div class="card-header">
                    <a href="{{ item.2 }}">
                        <img src="{{ item.3 }}" alt="" />
                    </a>
                    </div>
                    <div class="card-body">
                        <a style="color: black;" href="{{ item.2 }}">
                            <h3> {{ item.0 }} </h3>
                        </a>
                        <p> {{ item.1}} </p>
                    </div>
                </div>
            {%endfor %}
        </div>
            
    </section>
    <!-- end of results display section -->
    </body>
</html>

{% endblock content %}